.price {
    background: url('../../img/bg/price-bg.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: rem(0px) rem(0px) rem(48px) rem(2px) rgba(0,0,0,0.75);
    z-index: 100;
    

    &__title {
        margin-top: 1%;
        margin-left: 7%;
        background-size: cover;
        height: 10%;
        color: white;
        text-transform: uppercase;
        font-family: ubuntu;
        font-size: rem(46px);
        display: flex;
        align-items: center;

        @include normal {
            font-size: rem(36px);
            margin-left: 8%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 65%;  
        margin-left: 5%;
    }
}

.table{
	width: 80%;
    height: 50%;
    margin-top: 1%;
    color: white;
    font-family: ubuntu;
    text-align: center;
    border-collapse: collapse;
}

table.table th{
    opacity: .9;
    width: 10%;
    padding-bottom: 2%;
}
table.table td{
    border: none;
    height: rem(60px);
}
.table__row {
    border-bottom:rem(20px) solid transparent;
    background: white;
    margin-top: rem(20px);
    opacity: 0.9;
    color: #07213f;
}
.table__head {
    margin-bottom: rem(10px);
}
.table__foot {
    text-align:left;
    font-size: rem(16px);
    color: white;
    opacity: .9;
}

.price__content__contacts {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @include normal {
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
    }

    &__form {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include normal {
            justify-content: space-around;
            margin-right: 5%;
        }

        &__title {
            color: white;
            font-family: ubuntu;
            font-size: rem(21px);
            margin-bottom: 1%;

            @include normal {
                font-size: rem(20px);
            }
        }

        &__btn {
            text-transform: uppercase;
            font-size: rem(20px);
            background-color: rgba(255,255,255, 0.9);
            width: 25%;
            height: 30%;
            -webkit-transform: skew(17deg);
            -moz-transform: skew(17deg);
            -o-transform: skew(17deg);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s;

            @include normal {
                width: 75%;;
            }
            
                &:hover {
                    background-color: rgba(255,255,255, 1);
                }
        }
    }

    &__questions {
        height: 50%;
        color: white;
        font-family: ubuntu;
        display: flex;
        flex-direction: column;

        @include normal {
            justify-content: space-around;
            height: 70%;
            width: 30%;
            margin-top: 7%;
        }

        &__btn {
            margin-right: 3%;
            text-transform: uppercase;
            font-size: rem(16px);
            background-color: rgba(255,255,255, 0.9);
            width: 25%;
            height: 100%;
            -webkit-transform: skew(17deg);
            -moz-transform: skew(17deg);
            -o-transform: skew(17deg);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s;

            @include normal {
                width: 100%;
                height: 40%;
            }
            
                &:hover {
                    background-color: rgba(255,255,255, 1);
                }
            }        

        &__title {
            text-transform: uppercase;
            font-size: rem(21px);
        }

        &__desc {   
            font-size: rem(18px);
        }

        &__txt {
            display: flex;
            flex-direction: column;
            height: 45%;
        }

        &__btn-tel {
            height: 25%;
            display: flex;
            align-items: center;

            @include normal {
                flex-wrap: wrap;
                height: 60%;
                justify-content: flex-start;
            }

        }
    }
}

.btn-txt {
    color: #07213f;
    -webkit-transform: skew(163deg);
    -moz-transform: skew(163deg);
    -o-transform: skew(163deg);
}